@import './base.css';

#app {
  font-weight: normal;
  padding: 2rem;
  display: flex;
}

body {
  display: flex;
}

.container--flex {
  display: flex;
}

/* a {
  text-decoration: none;
} */

@media (min-width: 64rem) {
  #app {
    display: grid;
    /* grid-template-columns: 7.5rem 1fr 7.5rem; */
    grid-template-rows: 1fr 7.5rem;

    flex-grow: 1;

    padding: 0;
  }

  .grid--main {
    display: grid;
    grid-template-columns: 7.5rem 1fr 7.5rem;
  }

  .grid--main > * {
    grid-column: 2;
  }
}
